<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
 	<typeAliases>
 		<typeAlias type="com.fw.s1.member.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.fw.s1.cart.CartVO" alias="CartVO"/>
		<typeAlias type="com.fw.s1.order.OrderlistVO" alias="OrderlistVO"/>
		<typeAlias type="com.fw.s1.purchase.PurchaseVO" alias="PurchaseVO"/>
		<typeAlias type="com.fw.s1.coupon.CouponVO" alias="CouponVO"/>
		<typeAlias type="com.fw.s1.coupon.CouponspVO" alias="CouponspVO"/>
	</typeAliases>
</configuration>