<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.fw.s1.member.MemberMapper">

	<select id="getLogin" parameterType="MemberVO" resultMap="result">
		select M.*, R.* from member M
		inner join memberRole MR
		on M.username = MR.username
		inner join role R
		on MR.id = R.id
		where M.username = #{username}
	</select>
	<resultMap type="MemberVO" id="result">
		<id column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="name" property="name"/>
		<result column="phone" property="phone"/>
		<result column="email" property="email"/>
		<result column="birth" property="birth"/>
		<result column="smsAgree" property="smsAgree"/>
		<result column="emailAgree" property="emailAgree"/>
		<result column="enabled" property="enabled"/>
		<collection property="roles" javaType="java.util.List" ofType="RoleVO">
			<id column="id" property="id"/>
			<result column="roleName" property="roleName"/>
		</collection>
	</resultMap>


	<insert id="setJoin" parameterType="MemberVO">
		insert into member(username, password, name, phone, email, birth, smsAgree, emailAgree, enabled)
		values(#{username}, #{password}, #{name}, #{phone}, #{email}, #{birth}, #{smsAgree}, #{emailAgree}, #{enabled})
	</insert>
	
	<insert id="setMemberRole" parameterType="java.util.Map">
		insert into memberRole(username,id)
		values(
			#{username}, (
				select id from role where roleName=#{roleName}
			)
		)
	</insert>
	<select id="getUsernameCheck" parameterType="MemberVO" resultType="MemberVO">
		select username from member where username = #{username}
	</select>
	
	
	<select id="getUsernameandemail" parameterType="MemberVO" resultMap="getMemberMile">
		select m.username, m.email, mi.enabledMile 
		from member m inner join mileage mi on m.username=mi.username
		where mi.mileNum = (select max(mileNum) from mileage where username=#{username})
	</select>
	<resultMap type="MemberVO" id="getMemberMile">
		<id column="username" property="username"/>
		<result column="email" property="email"/>
		<association property="mileageVO" javaType="MileageVO">
			<result column="enabledMile" property="enabledMile"/>
		</association>
	</resultMap>
	
	<select id="getAllusername" resultType="MemberVO">
		select username from member
	</select>
</mapper>