<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.fw.s1.order.OrderMapper">
 	<resultMap type="OrderlistVO" id="orderAndMileage">
 		<id column="orderNum" property="orderNum"/>
 		<result column="totPrice" property="totPrice"/>
 		<result column="spPrice" property="spPrice"/>
 		<result column="cuNum" property="cuNum"/>
 		<result column="username" property="username"/>
 		<result column="destination" property="destination"/>
 		<result column="orderDate" property="orderDate"/>
		<result column="orderState" property="orderState"/>
		<result column="orderMessage" property="orderMessage"/>
		<result column="orderName" property="orderName"/>
		<association property="mileageVO" javaType="MileageVO">
			<id column="mileNum" property="mileNum"/>
			<result column="usedMile" property="usedMile"/>
			<result column="changeMile" property="changeMile"/>
			<result column="username" property="username"/>
			<result column="orderNum" property="orderNum"/>
			<result column="mileContents" property="mileContents"/>
			<result column="enabledMile" property="enabledMile"/>
		</association>
 	</resultMap>
 
 	<insert id="setOrder" parameterType="OrderlistVO">
 		insert into orderlist(orderNum, totPrice, spPrice, cuNum, username, destination, orderDate, orderState, orderMessage, orderName)
 		values(#{orderNum}, #{totPrice}, #{spPrice}, <if test="cuNum==0">null</if><if test="cuNum!=0">#{cuNum}</if>, 
 		#{username}, #{destination}, sysdate(), 1, #{orderMessage}, #{orderName})
 	</insert>
	<select id="getOrder" parameterType="OrderlistVO" resultMap="orderAndMileage">
		select * from orderlist o inner join mileage m on o.orderNum = m.orderNum
		where o.username=#{username} and m.mileNum = (select max(mileNum) from mileage where orderNum=#{orderNum})
	</select>
 </mapper>