<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.fw.s1.order.OrderMapper">
 	<insert id="setOrder" parameterType="OrderlistVO">
 		insert into orderlist(orderNum, totPrice, spPrice, cuNum, username, destination, orderDate, orderStatem, orderMessage, orderName)
 		values(#{orderNum}, #{totPrice}, #{spPrice}, #{cuNum}, #{username}, #{destination}, sysdata(), 1, #{orderMessage}, #{orderName})
 	</insert>
	<select id="getOrder" parameterType="OrderlistVO" resultType="OrderlistVO">
		select * from orderlist where username=#{username} and orderNum=#{orderNum}
	</select>
 </mapper>